body{
  background-image: url("../images/Squad_collage.png");

  background-color: #8860D0;
}

header{
  display: grid;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 15px;
  width: 1050px;
  height: 300px;
  border-radius: 20px;
  background-color: #5680E9;
}

h1{
  margin: auto;
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
}

button{
  width: 500px;
  height: 125px;

  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  padding: 0;

  border-width: 0;
  border-radius: 12px;
  background-color: #5AB9EA;

  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}

button:hover{
  background-color: #8860D0; 
}

.answers{
  text-align: center;
  position: relative;
}

.progress{
  position: absolute;
  bottom: 10px;
  left: 0;

  background-color: #C1C8E4;
  display: inline-block;
}

/*
#5680E9
#84CEEB
#5AB9EA
#C1C8E4
#8860D0
 */
